<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>888682993452-hcjdkuof04gniu0bpt2cvgfcl7v5qa6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.888682993452-hcjdkuof04gniu0bpt2cvgfcl7v5qa6a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>888682993452-4consglk5lbm1v6ji9taf69af3a88lra.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBHVVMPRmDuSG-QOlhoosxnvaH_vX0-a5w</string>
	<key>GCM_SENDER_ID</key>
	<string>888682993452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akas.ikkxa</string>
	<key>PROJECT_ID</key>
	<string>ikxxa-saudi</string>
	<key>STORAGE_BUCKET</key>
	<string>ikxxa-saudi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:888682993452:ios:d62e43f24bb9fd1df03e89</string>
</dict>
</plist>